/* index page */

body { 
background-color: rgb(255, 220, 23);
font-family: Courier New, 'Times New Roman', serif;
}
/* background graphic from animatedbackgrounds.me */

h1 {
    color: white;
    text-align: center;
    font-size: 3rem;
}

h2 {
    text-indent: 2rem;
}
.description {
    font-size: 2rem;
}

.list {
    width: 50vw;
    background-color: rgb(255, 253, 245, .5);
    border-radius: 20px;
    margin-left: 1rem;
    padding: 50px;
    font-size: 1.5rem;
}

.list.steps {
    margin-bottom: 10rem;
}

img {
    border-radius: 20px;
    margin-left: 1rem;
}