/* index page */

body { 
background-color: rgb(255, 220, 23);
}
/* background graphic from animatedbackgrounds.me */

.index-heading {
    color: white;
    text-align: center;
    font-size: 3rem;
}

.index-list {
    width: 50vh;
    height: 200px;
    background-color: rgb(255, 253, 245, .5);
    border-radius: 20px;
    margin-left: 1rem;
}

ul {
    padding-top: 50px;
    font-size: 2rem;
}

